<!DOCTYPE html>

<html>

<head>
    <title>404</title>
   <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
             {{>header}}
            {{!-- <p>Created by {{name}}</p> --}}
            {{errormsg}}
    </div>
    {{!-- <h1>{{title}}</h1> --}}
    {{>footer}}
</body>



</html>